--extra-index-url https://download.pytorch.org/whl/cpu

# --- CORE BACKEND (API y Servidor) ---
fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
pydantic-settings==2.7.1
python-multipart==0.0.21
python-dotenv==1.2.1
aiofiles==25.1.0

# --- BIOMETRÍA (Reconocimiento Facial) ---
cmake
dlib==20.0.0
face-recognition==1.3.0
face_recognition_models==0.3.0
setuptools==69.5.1  
# --- OCR E INTELIGENCIA ARTIFICIAL ---
paddlepaddle>=2.6.0
paddleocr>=2.7.0
torch==2.9.1+cpu
torchvision==0.24.1+cpu

# --- UTILIDADES DE IMAGEN Y SISTEMA ---
opencv-python-headless==4.12.0.88
pillow==12.1.0
numpy==2.2.6
requests==2.32.5
reportlab==4.4.7
shapely==2.1.2
pyclipper==1.4.0
scikit-image==0.26.0